In [1]:
# Библиотеки
import pandas as pd
import numpy as np

import requests
import urllib.request
from urllib.parse import urlencode
from urllib.request import urlopen

from bs4 import BeautifulSoup as bs
import json
import re
import io
import os
import time

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from pylab import rcParams


import datetime
from datetime import datetime, date, timedelta

# import html5lib

import warnings
warnings.filterwarnings('ignore')

In [2]:
sns.set()

In [3]:
data_start = '2018-01-01'
# data_start = str(date.today())
data_end = str(date.today())

In [4]:
# Начальная дата
t0 = '.'.join(reversed(data_start.split('-')))
t01 = t0.split('.')[2]
t02 = str(int(t0.split('.')[1])-1)
t03 = t0.split('.')[0]

In [5]:
# Конечная дата
t1 = '.'.join(reversed(data_end.split('-')))
t11 = t1.split('.')[2]
t12 = str(int(t1.split('.')[1])-1)
t13 = t1.split('.')[0]

In [6]:
# Коды коировок анализа Московской биржи
cod0 = 'USDCB' # курс ЦБ оллар США / Российский рубль (moex)
cod1 = 'USD000UTSTOM' # Биржевой курс доллара США к рублю на завтра на торгах Московской валютной бирже (moex)
cod2 = 'USD000000TOD' # Биржевой курс доллара США к рублю на сегодня на торгах Московской валютной бирже (moex)
cod3 = 'GAZP' # Биржевой курс акций Газпром (moex)
cod4 = 'ROSN' # Биржевой курс акций Роснефть  (moex)
cod5 = 'SBERP' # Биржевой курс акций Сбербанк-П  (moex)
cod6 = 'MOEX' #  Биржевой курс индекса МосБиржи (moex)

In [7]:
token = '03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w'

In [8]:
# periods={'tick': 1, 'min': 2, '5min': 3, '10min': 4, '15min': 5, '30min': 6, 'hour': 7, 'daily': 8, 'week': 9, 'month': 10}
p = 8 # период день
p1 = 7 # период час
p3 = 6
p4 = 5
p5 = 3
p6 = 2
p7 = 1

# День

In [9]:
url = f'https://export.finam.ru/export9.out?market=1&em=23&token={token}&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'

def mainDF(url):
#     time.sleep(5)
    try:
        df = pd.read_csv(url, encoding='cp1251')
        if df.empty:
#             print(df)
              return df
        else: return df
    except Exception as e:
        print("Ошибка")
#         df = pd.read_csv(url, encoding='cp1251')

        return mainDF(url)

        
mainDF(url)

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,D,20180103,0,190.66,197.40,190.47,197.30,3231300
1,SBERP,D,20180104,0,197.99,204.40,197.01,203.03,4334900
2,SBERP,D,20180105,0,204.02,205.88,203.03,203.50,4082400
3,SBERP,D,20180109,0,203.91,205.93,200.37,201.30,3860100
4,SBERP,D,20180110,0,201.99,202.42,196.16,197.52,4842300
...,...,...,...,...,...,...,...,...,...
1439,SBERP,D,20231009,0,262.53,265.76,262.53,264.76,3939600
1440,SBERP,D,20231010,0,264.97,265.15,259.80,262.89,2988300
1441,SBERP,D,20231011,0,262.88,264.17,259.59,260.16,3131100
1442,SBERP,D,20231012,0,260.16,264.50,259.60,264.01,2852420
1443,SBERP,D,20231013,0,264.25,264.59,262.33,263.21,1628830

In [10]:
url = f'https://export.finam.ru/export9.out?market=1&em=23&token={token}&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'

df = pd.read_csv(url, encoding='cp1251')

df

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,D,20180103,0,190.66,197.40,190.47,197.30,3231300
1,SBERP,D,20180104,0,197.99,204.40,197.01,203.03,4334900
2,SBERP,D,20180105,0,204.02,205.88,203.03,203.50,4082400
3,SBERP,D,20180109,0,203.91,205.93,200.37,201.30,3860100
4,SBERP,D,20180110,0,201.99,202.42,196.16,197.52,4842300
...,...,...,...,...,...,...,...,...,...
1439,SBERP,D,20231009,0,262.53,265.76,262.53,264.76,3939600
1440,SBERP,D,20231010,0,264.97,265.15,259.80,262.89,2988300
1441,SBERP,D,20231011,0,262.88,264.17,259.59,260.16,3131100
1442,SBERP,D,20231012,0,260.16,264.50,259.60,264.01,2852420
1443,SBERP,D,20231013,0,264.25,264.59,262.33,263.21,1628830

In [11]:
headers={
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
}
def get_content(url):
    with requests.Session() as req:
        req.headers.update(headers)
        re = urllib.request.Request(url, data=None)
        r = urllib.request.urlopen(re).read()
#         r = req.get(url).content
    return r

url = f'https://export.finam.ru/export9.out?market=1&em=23&token={token}&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
s = get_content(url)
df=pd.read_csv(io.StringIO(s.decode('cp1251')))
df

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,D,20180103,0,190.66,197.40,190.47,197.30,3231300
1,SBERP,D,20180104,0,197.99,204.40,197.01,203.03,4334900
2,SBERP,D,20180105,0,204.02,205.88,203.03,203.50,4082400
3,SBERP,D,20180109,0,203.91,205.93,200.37,201.30,3860100
4,SBERP,D,20180110,0,201.99,202.42,196.16,197.52,4842300
...,...,...,...,...,...,...,...,...,...
1439,SBERP,D,20231009,0,262.53,265.76,262.53,264.76,3939600
1440,SBERP,D,20231010,0,264.97,265.15,259.80,262.89,2988300
1441,SBERP,D,20231011,0,262.88,264.17,259.59,260.16,3131100
1442,SBERP,D,20231012,0,260.16,264.50,259.60,264.01,2852420
1443,SBERP,D,20231013,0,264.25,264.59,262.33,263.21,1628830

In [12]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url2 = f'https://export.finam.ru/export9.out?market=1&em=23&token={token}&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req2 = urllib.request.Request(
url2,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s2 = urllib.request.urlopen(req2).read()
dfe = pd.read_csv(io.StringIO(s2.decode('cp1251')))
dfe.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
dfe['DATE'] = pd.to_datetime(dfe['DATE'], format='%Y%m%d')
dfe.set_index('DATE', inplace=True)
dfe

           TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
DATE
2018-01-03  SBERP   D     0  190.66  197.40  190.47  197.30  3231300
2018-01-04  SBERP   D     0  197.99  204.40  197.01  203.03  4334900
2018-01-05  SBERP   D     0  204.02  205.88  203.03  203.50  4082400
2018-01-09  SBERP   D     0  203.91  205.93  200.37  201.30  3860100
2018-01-10  SBERP   D     0  201.99  202.42  196.16  197.52  4842300
...           ...  ..   ...     ...     ...     ...     ...      ...
2023-10-09  SBERP   D     0  262.53  265.76  262.53  264.76  3939600
2023-10-10  SBERP   D     0  264.97  265.15  259.80  262.89  2988300
2023-10-11  SBERP   D     0  262.88  264.17  259.59  260.16  3131100
2023-10-12  SBERP   D     0  260.16  264.50  259.60  264.01  2852420
2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

[1444 rows x 8 columns]

In [13]:
resd = dfe.copy()
resd = resd.reset_index()
resd.to_csv('sber_day.csv', index = False)

#  ЧАС

In [14]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url51 =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p1}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req51 = urllib.request.Request(
url51,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s51 = urllib.request.urlopen(req51)
df51 = pd.read_csv(s51)
df51.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
df51

      TICKER  PER      DATE    TIME    OPEN    HIGH     LOW   CLOSE     VOL
0      SBERP   60  20180103  110000  190.66  192.75  190.47  192.33  261100
1      SBERP   60  20180103  120000  192.33  193.99  192.33  193.31  430000
2      SBERP   60  20180103  130000  193.35  193.91  192.53  193.85  351900
3      SBERP   60  20180103  140000  193.85  195.05  193.62  194.69  412000
4      SBERP   60  20180103  150000  194.84  196.00  194.84  195.88  336400
...      ...  ...       ...     ...     ...     ...     ...     ...     ...
16663  SBERP   60  20231013  200000  263.61  263.61  263.08  263.42   39360
16664  SBERP   60  20231013  210000  263.42  263.43  263.09  263.10   39620
16665  SBERP   60  20231013  220000  263.09  263.24  263.00  263.03   89290
16666  SBERP   60  20231013  230000  263.06  263.40  263.00  263.25   44480
16667  SBERP   60  20231014       0  263.21  263.31  263.10  263.21   50310

[16668 rows x 9 columns]

In [15]:
df51['TIME'] = df51['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
df51['DATE'] = pd.to_datetime(df51['DATE'], format='%Y%m%d')
df51['DATE'] = df51['DATE'].dt.strftime("%Y-%m-%d")
df51['DATE'] = df51['DATE'] + ' ' + df51['TIME']
df51['DATE'] = pd.to_datetime(df51['DATE'], format='%Y%m%d %H:%M:%S')
df51.set_index('DATE', inplace=True)
df51

,TICKER,PER,TIME,OPEN,HIGH,LOW,CLOSE,VOL
DATE,,,,,,,,
2018-01-03 11:00:00,SBERP,60,11:00:00,190.66,192.75,190.47,192.33,261100
2018-01-03 12:00:00,SBERP,60,12:00:00,192.33,193.99,192.33,193.31,430000
2018-01-03 13:00:00,SBERP,60,13:00:00,193.35,193.91,192.53,193.85,351900
2018-01-03 14:00:00,SBERP,60,14:00:00,193.85,195.05,193.62,194.69,412000
2018-01-03 15:00:00,SBERP,60,15:00:00,194.84,196.00,194.84,195.88,336400
...,...,...,...,...,...,...,...,...
2023-10-13 20:00:00,SBERP,60,20:00:00,263.61,263.61,263.08,263.42,39360
2023-10-13 21:00:00,SBERP,60,21:00:00,263.42,263.43,263.09,263.10,39620
2023-10-13 22:00:00,SBERP,60,22:00:00,263.09,263.24,263.00,263.03,89290
2023-10-13 23:00:00,SBERP,60,23:00:00,263.06,263.40,263.00,263.25,44480
2023-10-14 00:00:00,SBERP,60,00:00:00,263.21,263.31,263.10,263.21,50310

In [16]:
resh = df51.copy()
resh = resh.reset_index()
resh.to_csv('sber_hour.csv', index = False)

# 30 min

In [18]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p3}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req = urllib.request.Request(
url,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s = urllib.request.urlopen(req)
df = pd.read_csv(s, encoding='cp1251')
df.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
df['DATE'] = pd.to_datetime(df['DATE'], format='%Y%m%d')
df

      TICKER  PER       DATE    TIME    OPEN    HIGH     LOW   CLOSE     VOL
0      SBERP   30 2018-01-03  103000  190.66  191.54  190.47  191.49  133600
1      SBERP   30 2018-01-03  110000  191.50  192.75  191.50  192.33  127500
2      SBERP   30 2018-01-03  113000  192.33  193.99  192.33  193.80  311200
3      SBERP   30 2018-01-03  120000  193.80  193.88  193.24  193.31  118800
4      SBERP   30 2018-01-03  123000  193.35  193.91  192.53  192.94  262900
...      ...  ...        ...     ...     ...     ...     ...     ...     ...
33328  SBERP   30 2023-10-13  220000  263.13  263.13  263.00  263.03   76240
33329  SBERP   30 2023-10-13  223000  263.06  263.22  263.00  263.17   29720
33330  SBERP   30 2023-10-13  230000  263.19  263.40  263.14  263.25   14760
33331  SBERP   30 2023-10-13  233000  263.21  263.31  263.12  263.17   14960
33332  SBERP   30 2023-10-14       0  263.13  263.22  263.10  263.21   35350

[33333 rows x 9 columns]

In [19]:
df8 = df.copy()
df8['TIME'] = df8['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
df8['DATE'] = pd.to_datetime(df8['DATE'], format='%Y%m%d')
df8['DATE'] = df8['DATE'].dt.strftime("%Y-%m-%d")
df8['DATE'] = df8['DATE'] + ' ' + df8['TIME']
df8['DATE'] = pd.to_datetime(df8['DATE'], format='%Y%m%d %H:%M:%S')
df8.set_index('DATE', inplace=True)
df8

,TICKER,PER,TIME,OPEN,HIGH,LOW,CLOSE,VOL
DATE,,,,,,,,
2018-01-03 10:30:00,SBERP,30,10:30:00,190.66,191.54,190.47,191.49,133600
2018-01-03 11:00:00,SBERP,30,11:00:00,191.50,192.75,191.50,192.33,127500
2018-01-03 11:30:00,SBERP,30,11:30:00,192.33,193.99,192.33,193.80,311200
2018-01-03 12:00:00,SBERP,30,12:00:00,193.80,193.88,193.24,193.31,118800
2018-01-03 12:30:00,SBERP,30,12:30:00,193.35,193.91,192.53,192.94,262900
...,...,...,...,...,...,...,...,...
2023-10-13 22:00:00,SBERP,30,22:00:00,263.13,263.13,263.00,263.03,76240
2023-10-13 22:30:00,SBERP,30,22:30:00,263.06,263.22,263.00,263.17,29720
2023-10-13 23:00:00,SBERP,30,23:00:00,263.19,263.40,263.14,263.25,14760
2023-10-13 23:30:00,SBERP,30,23:30:00,263.21,263.31,263.12,263.17,14960
2023-10-14 00:00:00,SBERP,30,00:00:00,263.13,263.22,263.10,263.21,35350

In [20]:
res30 = df8.copy()
res30 = res30.reset_index()
res30.to_csv('sber_30min.csv', index = False)

# 15 min

In [21]:
data_start = '2021-01-01'
data_end = str(date.today())

In [22]:
# Начальная дата
t0 = '.'.join(reversed(data_start.split('-')))
t01 = t0.split('.')[2]
t02 = str(int(t0.split('.')[1])-1)
t03 = t0.split('.')[0]

In [23]:
# Конечная дата
t1 = '.'.join(reversed(data_end.split('-')))
t11 = t1.split('.')[2]
t12 = str(int(t1.split('.')[1])-1)
t13 = t1.split('.')[0]

In [24]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url15 =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p4}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req15 = urllib.request.Request(
url15,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s15 = urllib.request.urlopen(req15)
dff = pd.read_csv(s15)
# dff.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d')
# dff.set_index('DATE', inplace=True)
dff

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,15,20210104,101500,242.09,244.25,242.09,244.13,305240
1,SBERP,15,20210104,103000,244.19,244.71,243.81,244.52,148170
2,SBERP,15,20210104,104500,244.53,244.53,243.61,244.05,118500
3,SBERP,15,20210104,110000,244.05,244.42,243.70,243.90,78150
4,SBERP,15,20210104,111500,243.98,244.42,243.20,243.90,116290
...,...,...,...,...,...,...,...,...,...
36743,SBERP,15,20231013,230000,263.26,263.36,263.14,263.25,2060
36744,SBERP,15,20231013,231500,263.21,263.31,263.13,263.20,7820
36745,SBERP,15,20231013,233000,263.12,263.21,263.12,263.17,7140
36746,SBERP,15,20231013,234500,263.13,263.22,263.10,263.22,29250
36747,SBERP,15,20231014,0,263.21,263.22,263.14,263.21,6100

In [25]:
dff.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
dff['TIME'] = dff['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d')
dff['DATE'] = dff['DATE'].dt.strftime("%Y-%m-%d")
dff['DATE'] = dff['DATE'] + ' ' + dff['TIME']
dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d %H:%M:%S')
dff.set_index('DATE', inplace=True)
dff

,TICKER,PER,TIME,OPEN,HIGH,LOW,CLOSE,VOL
DATE,,,,,,,,
2021-01-04 10:15:00,SBERP,15,10:15:00,242.09,244.25,242.09,244.13,305240
2021-01-04 10:30:00,SBERP,15,10:30:00,244.19,244.71,243.81,244.52,148170
2021-01-04 10:45:00,SBERP,15,10:45:00,244.53,244.53,243.61,244.05,118500
2021-01-04 11:00:00,SBERP,15,11:00:00,244.05,244.42,243.70,243.90,78150
2021-01-04 11:15:00,SBERP,15,11:15:00,243.98,244.42,243.20,243.90,116290
...,...,...,...,...,...,...,...,...
2023-10-13 23:00:00,SBERP,15,23:00:00,263.26,263.36,263.14,263.25,2060
2023-10-13 23:15:00,SBERP,15,23:15:00,263.21,263.31,263.13,263.20,7820
2023-10-13 23:30:00,SBERP,15,23:30:00,263.12,263.21,263.12,263.17,7140
2023-10-13 23:45:00,SBERP,15,23:45:00,263.13,263.22,263.10,263.22,29250
2023-10-14 00:00:00,SBERP,15,00:00:00,263.21,263.22,263.14,263.21,6100

In [26]:
res15 = dff.copy()
res15 = res15.reset_index()
res15.to_csv('sber_15min.csv', index = False)

# 5 min

In [27]:
data_start = '2023-01-01'
data_end = str(date.today())

In [28]:
# Начальная дата
t0 = '.'.join(reversed(data_start.split('-')))
t01 = t0.split('.')[2]
t02 = str(int(t0.split('.')[1])-1)
t03 = t0.split('.')[0]

In [29]:
# Конечная дата
t1 = '.'.join(reversed(data_end.split('-')))
t11 = t1.split('.')[2]
t12 = str(int(t1.split('.')[1])-1)
t13 = t1.split('.')[0]

In [30]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url5 =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p5}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req5 = urllib.request.Request(
url5,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s5 = urllib.request.urlopen(req5)
df5 = pd.read_csv(s5)
# dff.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d')
# dff.set_index('DATE', inplace=True)
df5

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,5,20230103,100500,141.39,141.99,141.35,141.72,77840
1,SBERP,5,20230103,101000,141.75,143.11,141.69,142.71,121180
2,SBERP,5,20230103,101500,142.79,142.80,142.23,142.54,72600
3,SBERP,5,20230103,102000,142.54,142.73,142.35,142.36,36150
4,SBERP,5,20230103,102500,142.36,142.70,142.33,142.68,25530
...,...,...,...,...,...,...,...,...,...
32432,SBERP,5,20231013,233000,263.18,263.19,263.15,263.17,890
32433,SBERP,5,20231013,233500,263.13,263.15,263.11,263.11,4680
32434,SBERP,5,20231013,234000,263.10,263.12,263.10,263.12,3430
32435,SBERP,5,20231013,234500,263.12,263.22,263.11,263.22,21140
32436,SBERP,5,20231013,235000,263.21,263.22,263.14,263.21,6100

In [31]:
df5.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
df5['TIME'] = df5['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
df5['DATE'] = pd.to_datetime(df5['DATE'], format='%Y%m%d')
df5['DATE'] = df5['DATE'].dt.strftime("%Y-%m-%d")
df5['DATE'] = df5['DATE'] + ' ' + df5['TIME']
df5['DATE'] = pd.to_datetime(df5['DATE'], format='%Y%m%d %H:%M:%S')
df5.set_index('DATE', inplace=True)
df5

,TICKER,PER,TIME,OPEN,HIGH,LOW,CLOSE,VOL
DATE,,,,,,,,
2023-01-03 10:05:00,SBERP,5,10:05:00,141.39,141.99,141.35,141.72,77840
2023-01-03 10:10:00,SBERP,5,10:10:00,141.75,143.11,141.69,142.71,121180
2023-01-03 10:15:00,SBERP,5,10:15:00,142.79,142.80,142.23,142.54,72600
2023-01-03 10:20:00,SBERP,5,10:20:00,142.54,142.73,142.35,142.36,36150
2023-01-03 10:25:00,SBERP,5,10:25:00,142.36,142.70,142.33,142.68,25530
...,...,...,...,...,...,...,...,...
2023-10-13 23:30:00,SBERP,5,23:30:00,263.18,263.19,263.15,263.17,890
2023-10-13 23:35:00,SBERP,5,23:35:00,263.13,263.15,263.11,263.11,4680
2023-10-13 23:40:00,SBERP,5,23:40:00,263.10,263.12,263.10,263.12,3430
2023-10-13 23:45:00,SBERP,5,23:45:00,263.12,263.22,263.11,263.22,21140
2023-10-13 23:50:00,SBERP,5,23:50:00,263.21,263.22,263.14,263.21,6100

In [32]:
res5 = df5.copy()
res5 = res5.reset_index()
res5.to_csv('sber_5min.csv', index = False)

# 1 min

In [33]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
urlm =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p6}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
reqm = urllib.request.Request(
urlm,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
sm = urllib.request.urlopen(reqm)
dfm = pd.read_csv(sm)
# dff.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d')
# dff.set_index('DATE', inplace=True)
dfm

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SBERP,1,20230103,100100,141.39,141.98,141.35,141.77,36870
1,SBERP,1,20230103,100200,141.75,141.99,141.47,141.66,20070
2,SBERP,1,20230103,100300,141.58,141.66,141.58,141.64,8280
3,SBERP,1,20230103,100400,141.64,141.74,141.64,141.70,3590
4,SBERP,1,20230103,100500,141.68,141.78,141.66,141.72,9030
...,...,...,...,...,...,...,...,...,...
158865,SBERP,1,20231013,234600,263.21,263.21,263.15,263.15,130
158866,SBERP,1,20231013,234700,263.21,263.21,263.19,263.19,240
158867,SBERP,1,20231013,234800,263.19,263.19,263.19,263.19,30
158868,SBERP,1,20231013,234900,263.19,263.19,263.14,263.14,2570
158869,SBERP,1,20231013,235000,263.19,263.22,263.19,263.21,3130

In [34]:
dfm.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
dfm['TIME'] = dfm['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
dfm['DATE'] = pd.to_datetime(dfm['DATE'], format='%Y%m%d')
dfm['DATE'] = dfm['DATE'].dt.strftime("%Y-%m-%d")
dfm['DATE'] = dfm['DATE'] + ' ' + dfm['TIME']
dfm['DATE'] = pd.to_datetime(dfm['DATE'], format='%Y%m%d %H:%M:%S')
dfm.set_index('DATE', inplace=True)
dfm

,TICKER,PER,TIME,OPEN,HIGH,LOW,CLOSE,VOL
DATE,,,,,,,,
2023-01-03 10:01:00,SBERP,1,10:01:00,141.39,141.98,141.35,141.77,36870
2023-01-03 10:02:00,SBERP,1,10:02:00,141.75,141.99,141.47,141.66,20070
2023-01-03 10:03:00,SBERP,1,10:03:00,141.58,141.66,141.58,141.64,8280
2023-01-03 10:04:00,SBERP,1,10:04:00,141.64,141.74,141.64,141.70,3590
2023-01-03 10:05:00,SBERP,1,10:05:00,141.68,141.78,141.66,141.72,9030
...,...,...,...,...,...,...,...,...
2023-10-13 23:46:00,SBERP,1,23:46:00,263.21,263.21,263.15,263.15,130
2023-10-13 23:47:00,SBERP,1,23:47:00,263.21,263.21,263.19,263.19,240
2023-10-13 23:48:00,SBERP,1,23:48:00,263.19,263.19,263.19,263.19,30
2023-10-13 23:49:00,SBERP,1,23:49:00,263.19,263.19,263.14,263.14,2570
2023-10-13 23:50:00,SBERP,1,23:50:00,263.19,263.22,263.19,263.21,3130

In [35]:
resm = dfm.copy()
resm = resm.reset_index()
resm.to_csv('sber_1min.csv', index = False)

# tick

In [36]:
data_start = str(date.today())
data_end = str(date.today())

In [37]:
# Начальная дата
t0 = '.'.join(reversed(data_start.split('-')))
t01 = t0.split('.')[2]
t02 = str(int(t0.split('.')[1])-1)
t03 = t0.split('.')[0]

In [38]:
# Конечная дата
t1 = '.'.join(reversed(data_end.split('-')))
t11 = t1.split('.')[2]
t12 = str(int(t1.split('.')[1])-1)
t13 = t1.split('.')[0]

In [40]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
urlt =f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p7}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
reqt = urllib.request.Request(
urlt,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
st = urllib.request.urlopen(reqt)
dft = pd.read_csv(st, encoding='cp1251')
# dff.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# dff['DATE'] = pd.to_datetime(dff['DATE'], format='%Y%m%d')
# dff.set_index('DATE', inplace=True)
dft

EmptyDataError: No columns to parse from file

In [ ]:
dft.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
dft['TIME'] = dft['TIME'].map(lambda x: '00:00:00' if x == 0 else (datetime.strptime(str(x),"%H%M%S")).strftime("%H:%M:%S"))
dft['DATE'] = pd.to_datetime(dft['DATE'], format='%Y%m%d')
dft['DATE'] = dft['DATE'].dt.strftime("%Y-%m-%d")
dft['DATE'] = dft['DATE'] + ' ' + dft['TIME']
dft['DATE'] = pd.to_datetime(dft['DATE'], format='%Y%m%d %H:%M:%S')
dft.set_index('DATE', inplace=True)
dft

In [ ]:
def mainDF1(url):
#     time.sleep(5)
    try:
        df = pd.read_csv(url, encoding='cp1251')
        if df.empty:
            print(df)
            return df
    except Exception as e:
        print("Ошибка - Empty DataFrame")
        df = pd.read_csv(url, encoding='cp1251')
        
        return mainDF1(url)

        
mainDF1(urlt)

In [ ]:
rest = dft.copy()
rest = rest.reset_index()
rest.to_csv('sber_tick.csv', index = False)

In [41]:
day1 = pd.read_csv('sber_day.csv')
day1

            DATE TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
0     2018-01-03  SBERP   D     0  190.66  197.40  190.47  197.30  3231300
1     2018-01-04  SBERP   D     0  197.99  204.40  197.01  203.03  4334900
2     2018-01-05  SBERP   D     0  204.02  205.88  203.03  203.50  4082400
3     2018-01-09  SBERP   D     0  203.91  205.93  200.37  201.30  3860100
4     2018-01-10  SBERP   D     0  201.99  202.42  196.16  197.52  4842300
...          ...    ...  ..   ...     ...     ...     ...     ...      ...
1439  2023-10-09  SBERP   D     0  262.53  265.76  262.53  264.76  3939600
1440  2023-10-10  SBERP   D     0  264.97  265.15  259.80  262.89  2988300
1441  2023-10-11  SBERP   D     0  262.88  264.17  259.59  260.16  3131100
1442  2023-10-12  SBERP   D     0  260.16  264.50  259.60  264.01  2852420
1443  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

[1444 rows x 9 columns]

In [42]:
day1[['DATE']][-1:].values[0][0]

'2023-10-13'

In [43]:
data_start = day1[['DATE']][-1:].values[0][0]
# data_start = str(date.today())
data_end = str(date.today())

In [44]:
# Начальная дата
t0 = '.'.join(reversed(data_start.split('-')))
t01 = t0.split('.')[2]
t02 = str(int(t0.split('.')[1])-1)
t03 = t0.split('.')[0]

In [45]:
# Конечная дата
t1 = '.'.join(reversed(data_end.split('-')))
t11 = t1.split('.')[2]
t12 = str(int(t1.split('.')[1])-1)
t13 = t1.split('.')[0]

In [46]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url2 = f'https://export.finam.ru/export9.out?market=1&em=23&token=03ADUVZwA9gRNHBgCOuXyphBx7YgdmsSQYVO4KJYqu1HIwjMsNG1XJO5gdMZWjZ5XRq_FY8Ev2QEnQUHnBWFl91ZlAExJav4c39F82glIPI2xIsRHl1lgKedIbUiZBWe5TRZcWTClPBvALDMV8aZMcw64wRAeSgVrg5_p3r3zoVvHnJ5D8PDKNxrMgAhdBcBjeTu8lLA5LLPcpXpb3ZSUFfPZc54ehulaZ4zCngw_ZjB5uz82i_3EMb8zOb49woCsrQmqzj40Qe-o37KklI-VEdVOHp9gZ2jTSwcm_a4veyfj91O4xJmiPg6XeSQdmn8ESulDijDy9BHEhPMUt18dM_4TYztqgGwg-EEsv9h6O_jdAQsPe1mEZ-7CnkRG45ExoszJDe2XnYM9xHMqUwkrEBTZ--IuYNw680_zpp7poUk86I-am6PxhNaRa1NRCcUZM2Gcgr6AvshhOB73R68aFjswX29Kg28sLS8X0uAUJVLPNE2uDyc2Ni64HiDlOnp3CBJNfa1Y8aCfpd9KuNvuz8zBqBalYCf5f_w&code={cod5}&apply=0&df={t03}&mf={t02}&yf={t01}&from={t0}&dt={t13}&mt={t12}&yt={t11}&to={t1}&p={p}&f={cod5}_200101_230820&e=.csv&cn={cod5}&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=1&sep2=1&datf=1&at=1'
req2 = urllib.request.Request(
url2,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s2 = urllib.request.urlopen(req2)
dfe = pd.read_csv(s2)
dfe.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# dfe['DATE'] = pd.to_datetime(dfe['DATE'], format='%Y%m%d')
# dfe.set_index('DATE', inplace=True)
dfe['DATE'] = dfe['DATE'].apply(lambda x: (datetime.strptime(str(x),"%Y%m%d")).strftime("%Y-%m-%d"))
dfe

  TICKER PER        DATE  TIME    OPEN    HIGH     LOW   CLOSE      VOL
0  SBERP   D  2023-10-13     0  264.25  264.59  262.33  263.21  1628830

In [47]:
l = pd.concat([day1, dfe], axis=0, ignore_index=True)
l

            DATE TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
0     2018-01-03  SBERP   D     0  190.66  197.40  190.47  197.30  3231300
1     2018-01-04  SBERP   D     0  197.99  204.40  197.01  203.03  4334900
2     2018-01-05  SBERP   D     0  204.02  205.88  203.03  203.50  4082400
3     2018-01-09  SBERP   D     0  203.91  205.93  200.37  201.30  3860100
4     2018-01-10  SBERP   D     0  201.99  202.42  196.16  197.52  4842300
...          ...    ...  ..   ...     ...     ...     ...     ...      ...
1440  2023-10-10  SBERP   D     0  264.97  265.15  259.80  262.89  2988300
1441  2023-10-11  SBERP   D     0  262.88  264.17  259.59  260.16  3131100
1442  2023-10-12  SBERP   D     0  260.16  264.50  259.60  264.01  2852420
1443  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830
1444  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

[1445 rows x 9 columns]

In [48]:
l.iloc[-2:]

            DATE TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
1443  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830
1444  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

In [49]:
l.drop_duplicates (subset=['DATE'], keep='last')

            DATE TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
0     2018-01-03  SBERP   D     0  190.66  197.40  190.47  197.30  3231300
1     2018-01-04  SBERP   D     0  197.99  204.40  197.01  203.03  4334900
2     2018-01-05  SBERP   D     0  204.02  205.88  203.03  203.50  4082400
3     2018-01-09  SBERP   D     0  203.91  205.93  200.37  201.30  3860100
4     2018-01-10  SBERP   D     0  201.99  202.42  196.16  197.52  4842300
...          ...    ...  ..   ...     ...     ...     ...     ...      ...
1439  2023-10-09  SBERP   D     0  262.53  265.76  262.53  264.76  3939600
1440  2023-10-10  SBERP   D     0  264.97  265.15  259.80  262.89  2988300
1441  2023-10-11  SBERP   D     0  262.88  264.17  259.59  260.16  3131100
1442  2023-10-12  SBERP   D     0  260.16  264.50  259.60  264.01  2852420
1444  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

[1444 rows x 9 columns]

In [50]:
l.to_csv('sber_day.csv', index = False)

In [51]:
ff = pd.read_csv('sber_day.csv')
ff

            DATE TICKER PER  TIME    OPEN    HIGH     LOW   CLOSE      VOL
0     2018-01-03  SBERP   D     0  190.66  197.40  190.47  197.30  3231300
1     2018-01-04  SBERP   D     0  197.99  204.40  197.01  203.03  4334900
2     2018-01-05  SBERP   D     0  204.02  205.88  203.03  203.50  4082400
3     2018-01-09  SBERP   D     0  203.91  205.93  200.37  201.30  3860100
4     2018-01-10  SBERP   D     0  201.99  202.42  196.16  197.52  4842300
...          ...    ...  ..   ...     ...     ...     ...     ...      ...
1440  2023-10-10  SBERP   D     0  264.97  265.15  259.80  262.89  2988300
1441  2023-10-11  SBERP   D     0  262.88  264.17  259.59  260.16  3131100
1442  2023-10-12  SBERP   D     0  260.16  264.50  259.60  264.01  2852420
1443  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830
1444  2023-10-13  SBERP   D     0  264.25  264.59  262.33  263.21  1628830

[1445 rows x 9 columns]

In [52]:
ff.set_index('DATE', inplace=True)

In [53]:
ff = ff[['OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL' ]]

In [54]:
ff.diff().round(2)

            OPEN  HIGH   LOW  CLOSE        VOL
DATE
2018-01-03   NaN   NaN   NaN    NaN        NaN
2018-01-04  7.33  7.00  6.54   5.73  1103600.0
2018-01-05  6.03  1.48  6.02   0.47  -252500.0
2018-01-09 -0.11  0.05 -2.66  -2.20  -222300.0
2018-01-10 -1.92 -3.51 -4.21  -3.78   982200.0
...          ...   ...   ...    ...        ...
2023-10-10  2.44 -0.61 -2.73  -1.87  -951300.0
2023-10-11 -2.09 -0.98 -0.21  -2.73   142800.0
2023-10-12 -2.72  0.33  0.01   3.85  -278680.0
2023-10-13  4.09  0.09  2.73  -0.80 -1223590.0
2023-10-13  0.00  0.00  0.00   0.00        0.0

[1445 rows x 5 columns]

In [55]:
ff.pct_change().round(3).tail(7)

             OPEN   HIGH    LOW  CLOSE    VOL
DATE
2023-10-06 -0.003  0.008 -0.001  0.012  0.156
2023-10-09  0.013  0.011  0.018  0.009  0.675
2023-10-10  0.009 -0.002 -0.010 -0.007 -0.241
2023-10-11 -0.008 -0.004 -0.001 -0.010  0.048
2023-10-12 -0.010  0.001  0.000  0.015 -0.089
2023-10-13  0.016  0.000  0.011 -0.003 -0.429
2023-10-13  0.000  0.000  0.000  0.000  0.000

In [ ]:
hour = pd.read_csv('sber_hour.csv')
hour

In [ ]:
hour[['DATE']][-1:].values[0][0][:10]

In [ ]:
pd.read_csv('sber_30min.csv')

In [ ]:
pd.read_csv('sber_15min.csv')

In [ ]:
pd.read_csv('sber_5min.csv')

In [ ]:
pd.read_csv('sber_1min.csv')

In [ ]:
pd.read_csv('sber_tick.csv')

In [56]:
# загружаем ставку ЦБ на сегодня
url = 'https://smart-lab.ru/q/SBER/f/q/MSFO/'
html = requests.get(url).content
df_list = pd.read_html(html, header=2)
df = df_list[0]
df

,Сбербанкsmart-lab.ru,%,Unnamed: 2,2021Q3,2021Q4,2022Q4,2023Q1,2023Q2,Unnamed: 8,LTM ?,Unnamed: 10
0,Дата отчета,NaN,NaN,28.10.2021,02.03.2022,09.03.2023,18.05.2023,03.08.2023,NaN,03.08.2023,NaN
1,Валюта отчета,NaN,NaN,RUB,RUB,RUB,RUB,RUB,NaN,RUB,NaN
2,Финансовый отчет,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Презентация,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
72,Сайт для инвесторов,NaN,NaN,5,NaN,5,5,5,NaN,5,NaN
73,Календарь инвесторов,NaN,NaN,5,NaN,5,5,5,NaN,5,NaN
74,Обратная связь,NaN,NaN,5,NaN,5,5,5,NaN,5,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк,структура и состав акционеров Сбербанк

In [57]:
# загружаем on-line датасет - Биржевой курс акций Сбербанк-П  (moex)
url1 =f'https://smart-lab.ru/q/SBER/f/q/MSFO/download/'
req1 = urllib.request.Request(
url1,
data=None,
headers={
'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36'
}
)
s1 = urllib.request.urlopen(req1)
df1 = pd.read_csv(s1 , sep=';', header=0)
# df.columns = ['TICKER','PER', 'DATE', 'TIME', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'VOL']
# df['DATE'] = pd.to_datetime(df['DATE'], format='%Y%m%d')
# df.set_index('DATE', inplace=True)
df1

,Unnamed: 0,2008Q4,2009Q4,2010Q4,2011Q4,2012Q4,2013Q4,2014Q2,2014Q3,2014Q4,...,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q4,2023Q1,2023Q2,LTM
0,Дата отчета,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.10.2020,...,29.10.2020,04.03.2021,29.04.2021,29.07.2021,28.10.2021,02.03.2022,09.03.2023,18.05.2023,03.08.2023,03.08.2023
1,Валюта отчета,RUB,RUB,RUB,RUB,RUB,RUB,RUB,RUB,RUB,...,RUB,RUB,RUB,RUB,RUB,RUB,RUB,RUB,RUB,RUB
2,"Чистый операц доход, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592.6,576.9,589.0,632.0,623.0,656.7,NaN,773.7,829.0,1 603
3,"Чист. проц. доходы, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,411.3,426.3,421.5,440.0,470.0,470.5,NaN,562.8,597.0,1 160
4,"Чист. комисс. доход, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,64.5,69.3,87.8,...,147.7,158.9,134.3,157.0,164.0,161.5,NaN,171.1,187.0,358.1
5,"Доходы по цб, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,66.0,106.0
6,"Операционная прибыль, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,502.6,502.6
7,"Чистая прибыль, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,...,271.4,202.4,304.8,325.0,348.3,272.6,NaN,357.2,380.3,737.5
8,"Операционный денежный поток, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-283.1,486.2,384.6,56.3,314.9,41.7,NaN,NaN,NaN,NaN
9,"Див.выплата, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,422.0,NaN,NaN,NaN,NaN,564.7,NaN,NaN,564.7
10,"Дивиденд, руб/акцию",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"18,7",NaN,NaN,NaN,NaN,25,NaN,NaN,25
11,"Див доход, ао, %",0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,NaN,NaN,0.0%,...,0.0%,6.9%,0.0%,0.0%,0.0%,0.0%,17.7%,0.0%,0.0%,9.5%
12,"Дивиденд ап, руб/акцию",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"18,7",NaN,NaN,NaN,NaN,25,NaN,NaN,25
13,"Див доход, ап, %",0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,NaN,NaN,0.0%,...,0.0%,7.8%,0.0%,0.0%,0.0%,0.0%,17.8%,0.0%,0.0%,9.5%
14,"Дивиденды/прибыль, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0%,...,0%,208%,0%,0%,0%,0%,NaN,0%,0%,77%
15,"Опер. расходы, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177.0,...,175.5,242.9,179.9,202.0,210.0,266.7,NaN,181.9,216.0,397.9
16,"Расх на персонал, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.9,...,103.2,145.8,121.0,124.0,125.0,148.8,NaN,126.0,133.0,259.0
17,"Процентные расходы, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.5,NaN,373.5
18,"Создание резервов, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.9,105.9,98.2,101.0,105.1,NaN,NaN,84.0,103.0,187.0
19,"Наличность, млрд руб",804.0,726.0,719.6,625.6,NaN,NaN,NaN,NaN,NaN,...,NaN,2 377,NaN,NaN,NaN,2 409,1 393,1 789,NaN,NaN
20,"Чистый долг, млрд руб",-804.0,-726.0,-719.6,-625.6,0.00,0.00,0.00,0.00,0.00,...,0.00,-2 377,0.00,0.00,0.00,-2 409,-1 393,-1 789,0.00,0
21,"Активы банка, млрд руб",NaN,NaN,8 523,10 419,15 097,18 210,NaN,NaN,25 200,...,35 124,36 016,37 500,34 164,36 604,41 165,41 872,43 827,46 144,46 144
22,"Капитал, млрд руб",NaN,NaN,NaN,NaN,1 624,1 881,NaN,NaN,2 020,...,4 836,5 045,5 261,5 139,5 476,5 639,5 815,6 115,5 917,5 917
23,"Кредитный портфель, млрд руб",NaN,NaN,NaN,8 382,11 064,13 544,NaN,NaN,18 626,...,24 546,28 009,25 498,26 210,25 940,28 518,29 373,30 707,32 868,32 868
24,"Кредиты юрлицам, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15 664,15 355,15 824,15 856,16 459,17 056,17 554,19 461,20 759,20 759
25,"Кредиты физлицам, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8 882,9 102,9 675,10 354,11 032,11 462,12 430,12 980,13 928,13 928
26,"Депозиты, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25 152,25 766,26 998,27 856,28 880,28 312,29 876,30 109,32 870,32 870
27,"Депозиты юрлиц, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9 393,9 125,10 490,10 892,11 554,10 458,11 377,11 563,12 747,12 747
28,"Депозиты физлиц, млрд руб",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15 759,16 641,16 508,16 964,17 326,17 855,18 499,18 546,20 123,20 123
29,"Резервы под обесценивание, млрд руб",NaN,NaN,NaN,NaN,565.0,610.0,NaN,NaN,870.0,...,NaN,NaN,NaN,27.2,57.2,NaN,NaN,NaN,NaN,NaN
30,"Неработающие кредиты, млрд руб",NaN,NaN,NaN,NaN,351.0,397.0,NaN,NaN,600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Дост.осн капитала, %",NaN,NaN,NaN,NaN,10.4%,10.6%,NaN,NaN,8.60%,...,13.4%,13.8%,14.3%,14.5%,14.4%,14.0%,15.2%,15.5%,13.8%,13.8%
32,"Дост. общ капитала, %",NaN,NaN,NaN,NaN,13.7%,13.4%,NaN,NaN,12.1%,...,14.2%,14.7%,15.3%,15.0%,14.8%,14.9%,15.7%,16.0%,14.7%,14.7%
33,"Стоимость риска, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.11%,1.80%,0.410%,0.430%,0.850%,0.560%,1.90%,1.10%,1.20%,1.40%
34,"Loan-to-deposit ratio, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98%,109%,94%,94%,90%,101%,98%,102%,100%,100%
35,"Просроченные кредиты, NPL, %",NaN,NaN,NaN,NaN,3.20%,2.90%,NaN,NaN,3.20%,...,4.70%,4.30%,4.30%,3.70%,3.30%,2.90%,NaN,NaN,NaN,NaN
36,"Цена акции ао, руб",22.8,82.9,104.2,79.4,92.9,101.2,NaN,NaN,54.9,...,228.5,271.0,291.0,304.7,340.2,293.1,141.3,215.2,239.9,263.7
37,"Число акций ао, млн",21 587,21 587,21 587,21 587,21 587,21 587,21 587,21 587,21 587,...,21 587,21 587,21 587,21 587,21 587,21 587,21 587,21 587,21 587,21 587
38,"Цена акции ап, руб",9.06,69.0,75.1,59.2,67.3,80.2,NaN,NaN,37.7,...,221.7,240.7,270.4,281.4,317.8,278.5,140.3,215.0,237.5,263.6
39,"Число акций ап, млн",1 000,1 000,1 000,1 000,1 000,1 000,1 000,1 000,1 000,...,1 000,1 000,1 000,1 000,1 000,1 000,1 000,1 000,1 000,1 000
40,"Капитализация, млрд руб",501.0,1 859,2 324,1 773,2 074,2 264,0.00,0.00,1 223,...,5 153,6 091,6 552,6 859,7 661,6 606,3 189,4 861,5 417,5 956
41,"EV, млрд руб",-303.0,1 133,1 604,1 148,2 074,2 264,0.00,0.00,1 223,...,5 153,3 714,6 552,6 859,7 661,4 197,1 797,3 072,5 417,5 956
42,"EPS, руб",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.27,...,12.6,9.38,14.1,15.1,16.1,12.6,0.00,16.5,17.6,34.2
43,"Доходность FCF, %",0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,NaN,NaN,0.0%,...,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%
44,"ROE, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.7%,...,22.8%,16.6%,24.3%,25.8%,26.8%,NaN,NaN,24.0%,26.0%,26.0%
45,"ROA, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9%,...,3.2%,2.2%,3.3%,3.4%,3.6%,NaN,NaN,3.3%,3.3%,3.3%
46,"Чистая процентная маржа, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.48%,5.34%,5.18%,5.22%,5.36%,NaN,NaN,5.80%,5.80%,5.80%
47,"Рентабельность банка, %",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.8%,35.1%,51.7%,51.4%,55.9%,41.5%,NaN,46.2%,45.9%,46.0%
48,P/E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,6.69,8.00,6.93,6.21,6.49,5.28,NaN,13.6,7.34,8.08
49,P/B,NaN,NaN,NaN,NaN,1.28,1.20,NaN,NaN,0.61,...,1.07,1.21,1.25,1.33,1.40,1.17,0.55,0.79,0.92,1.01
50,"Персонал, чел",269 100,249 800,240 900,241 000,286 000,306 100,NaN,NaN,329 600,...,278 200,285 600,278 200,276 100,281 700,287 866,210 700,NaN,NaN,NaN
51,"Расходы/чел/год, тыс.р",0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,272.8,...,371.0,510.5,434.9,449.1,443.7,516.9,0.00,NaN,NaN,NaN
52,IR рейтинг,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.4,4.4,NaN,4.6,4.6,4.6,4.6
53,Качество фин.отчетности,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5
54,Презентации для инвесторов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5
55,Присутствие на смартлабе,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1,NaN,2,2,2,2
56,Годовой отчет,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5
57,Сайт для инвесторов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5
58,Календарь инвесторов,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5
59,Обратная связь,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,5,NaN,5,5,5,5

In [58]:
import requests as rq

In [59]:
def date_range(start, end, intv):
    start = datetime.strptime(start,"%Y%m%d")
    end = datetime.strptime(end,"%Y%m%d")
    diff = (end  - start ) / intv
    for i in range(intv):
        yield (start + diff * i).strftime("%Y/%m/%d")
    yield end.strftime("%Y/%m/%d")

In [60]:
def parse_interfax_news(days=0):
   
    ress = []
    
    if days == 0:
        data_list = [str(date.today()).replace("-", "/")]
    else:
        data_end = str(date.today()).replace("-", "")
        data_start = "{:%Y%m%d}".format(date.today() - timedelta(days=days))
        data_list= list(date_range(data_start, data_end, days))
    
    CLEANR = re.compile('<.*?>') 
    
    
    for url in data_list:
        interfax_business_url = 'https://www.interfax.ru/news/' + url
        n = rq.get(interfax_business_url).content
        soup = bs(n, 'html.parser')
        n = soup.body.find('div', {'class':'pages'})
        news_urls = re.findall('/news/'+ url+'/all/\w+', str(n))
        news_urls = list(map(lambda x: 'https://www.interfax.ru' + x, news_urls))
        news_urls.insert(0,interfax_business_url ) 
        
        
        for ur in news_urls:
                    response = rq.get(ur)
                    news_u = re.findall('/business/\w+', response.text)
                    news_u = list(map(lambda x: 'https://www.interfax.ru' + x, news_u))
                    
                    
                    for u in news_u:
                                res = {}
                                nv = rq.get(u).content
                                s = bs(nv, 'html.parser')
                                res['time'] = s.find('meta', {'itemprop': 'datePublished'})
                                res['time'] = str(re.findall('\d{4}-\d+-\d+T\d+:\d+:\d+', str(res['time']))[0]).replace("T", " ")
                                res['url']= u
                                res['site'] = 'interfax_business'
                                res['title'] = s.body.find(itemprop="headline").text
                                res['text'] = s.body.find('article', {"itemprop":"articleBody"}).find_all('p')
                                res['text'][0] = ' '.join(str(res['text'][0]).split(' ')[5:])
                                res['text'] = re.sub(CLEANR, '', str(res['text'])).replace("\'", "").replace("]", "").replace("[", "").replace(".,", ".")
                                ress.append(res)   
     
    
    ress = [i for j, i in enumerate(ress) if i['time'][:10].replace("-", "/") in data_list]

    
    return ress

In [61]:
res = parse_interfax_news(3)

In [62]:
dfin = pd.json_normalize(res)
dfin.shape

(204, 5)

In [63]:
dfin

,time,url,site,title,text
0,2023-10-11 22:22:00,https://www.interfax.ru/business/925406,interfax_business,Путин ввел обязательную продажу валютной выруч...,Президент РФ Владимир Путин подписал указ о вв...
1,2023-10-11 22:15:00,https://www.interfax.ru/business/925404,interfax_business,"В Белом доме заявили, что США почти исчерпали ...",У администрации американского президента Джо Б...
2,2023-10-11 20:09:00,https://www.interfax.ru/business/925392,interfax_business,Минэнерго США понизило прогноз цены Brent на 2...,Минэнерго США понизило прогноз цены нефти сорт...
3,2023-10-11 19:55:00,https://www.interfax.ru/business/925387,interfax_business,Комитет Думы требует вернуть в проект бюджета ...,Комитет Госдумы по IT настаивает на возвращени...
4,2023-10-11 19:17:00,https://www.interfax.ru/business/925380,interfax_business,Билеты в парки развлечений Disneyland и Disney...,Walt Disney Co. крупнейшая в мире компания в с...
...,...,...,...,...,...
199,2023-10-11 22:22:00,https://www.interfax.ru/business/925406,interfax_business,Путин ввел обязательную продажу валютной выруч...,Президент РФ Владимир Путин подписал указ о вв...
200,2023-10-14 18:02:00,https://www.interfax.ru/business/925904,interfax_business,Болгария вводит сбор свыше $100/тыс. куб. м на...,Болгария вводит сбор на транзит российского га...
201,2023-10-14 11:22:00,https://www.interfax.ru/business/925878,interfax_business,Товарооборот между Россией и Турцией вырос до ...,Товарооборот между Россией и Турцией за год вы...
202,2023-10-14 10:34:00,https://www.interfax.ru/business/925872,interfax_business,"Российско-индийский товарооборот вырос за 1,5 ...",Товарооборот между Россией и Индией вырос за 1...
203,2023-10-11 22:22:00,https://www.interfax.ru/business/925406,interfax_business,Путин ввел обязательную продажу валютной выруч...,Президент РФ Владимир Путин подписал указ о вв...

In [64]:
with open('interfax_business_news.json', 'w+', encoding='utf8') as outfile:
        json.dump(res, outfile)

In [65]:
cc = dfin.loc[dfin['time'].map(lambda x: x[0:10]) == str(date.today())]
cc = cc[cc['text'].str.contains("Сбербанк")]
cc

Empty DataFrame
Columns: [time, url, site, title, text]
Index: []

In [66]:
import requests as rq
from bs4 import BeautifulSoup as bs
import datetime as dt

In [67]:
RBC_FINANCE_URL = 'https://rbc.ru/v10/ajax/get-news-by-filters/?category=finances&limit=20&offset='
CLEANR = re.compile('<.*?>')

In [68]:
def parse_rbc_news(days=1):
    offset = 0
    ress = []
    while (True):
        response = rq.get(RBC_FINANCE_URL + str(offset))
        offset += 20
        if (response.status_code == 200):
            news_urls = re.findall('https://www.rbc.ru/finances/\d+/\d+/\d+/\w+', response.text)
            for url in news_urls:
                try:
                    res = {}
                    res['url']= url
                    news = rq.get(url).text
                    soup = bs(news, 'html.parser')
                    res['site'] = 'rbc_finances'
                    res['title'] = soup.body.find(class_="article__header__title-in js-slide-title").text.replace("\xa0", " ").replace("\t", " ").strip()
                    
                    def cleanhtml(raw_html):
                        return re.sub(CLEANR, '', raw_html)

                    raw = soup.body.find('div', class_="article__text article__text_free").find_all('p')
                    res['text'] = ''
                    for i in raw:
                        if (str(i).find('span') == -1):
                            res['text'] += cleanhtml(str(i))
                    try:
                        res['description'] = soup.body.find(class_="article__text__overview").text.replace("\xa0", " ").replace("\t", " ")
                    except:
                        if (len(res['text']) > 100):
                            res['description'] = res['text'][:100] + '...'
                        else:
                            res['description'] = res['text']
                    date_raw =re.findall('\d{4}-\d+-\d+T\d+:\d+:\d+' ,str(soup.body.find(class_="article__header__date")))[0]
                    date, time = date_raw.split('T')
                    date = date.split('-')
                    time = time.split(':')
                    res['timestamp'] = dt.datetime(int(date[0]), int(date[1]), int(date[2]), int(time[0]), int(time[1]), int(time[2])).timestamp()
                    res['time'] = str(date_raw).replace("T", " ")
                    if (days * 86400 + res['timestamp'] < dt.datetime.now().timestamp()):
                        return ress
                    ress.append(res)
                except Exception as e:
                    print(e, url)
        else:
            return ress

In [69]:
res1 = parse_rbc_news(3)

In [70]:
with open('rbc_finances_news.json', 'w+', encoding='utf8') as outfile:
        json.dump(res1, outfile)

In [71]:
df1 = pd.json_normalize(res1)
df1 = df1[['time','url', 'site', 'title', 'text']]
df1['text'] = df1['text'].replace(r'\s+|\\n', ' ', regex=True)
df1

,time,url,site,title,text
0,2023-10-14 18:02:10,https://www.rbc.ru/finances/14/10/2023/6527d31...,rbc_finances,Как Армения вырвалась в лидеры по росту перево...,Из Россию в Армению в августе 2023 года переве...
1,2023-10-13 17:11:42,https://www.rbc.ru/finances/13/10/2023/65294e1...,rbc_finances,Путин назвал необходимым для бюджета курс долл...,"Для бюджета России нужно, чтобы курс доллара б..."
2,2023-10-13 12:26:16,https://www.rbc.ru/finances/13/10/2023/652906d...,rbc_finances,ФАС через суд обязала Райффайзенбанк дать конт...,Райффайзенбанк должен купить рекламное время и...
3,2023-10-12 16:25:44,https://www.rbc.ru/finances/12/10/2023/6527e60...,rbc_finances,"Набиуллина заявила, что продажа валютной выруч...",Требование об обязательной репатриации и прода...
4,2023-10-12 11:46:34,https://www.rbc.ru/finances/12/10/2023/6527a85...,rbc_finances,В ЦБ предложили разрешить анонимность для друж...,Центробанк рассматривает возможность упростить...
5,2023-10-12 10:16:02,https://www.rbc.ru/finances/12/10/2023/6527909...,rbc_finances,Минфин рассказал о переманивании богатых росси...,Зарубежные банки выманивают состоятельных клие...
6,2023-10-12 05:52:33,https://www.rbc.ru/finances/12/10/2023/652756e...,rbc_finances,«Известия» узнали о плане властей получить ₽31...,Налог на проценты по вкладам принесет бюджету ...

In [72]:
vv = df1.loc[df1['time'].map(lambda x: x[0:10]) == str(date.today())]
vv = vv[vv['text'].str.contains("Сбербанк")]
vv

Empty DataFrame
Columns: [time, url, site, title, text]
Index: []

In [73]:
def get_date(date):
    month_list = {'января': '01', 'февраля': '02', 'марта': '03', 'апреля': '04', 'мая': '05', 'июня': '06',
           'июля': '07', 'августа': '08', 'сентября': '09', 'октября': '10', 'ноября': '11', 'декабря': '12'}
    date_list = date.split(' ')
    month = month_list[date_list[1]]
    return date_list[2] +'-' + month + '-'+ date_list[0] + ' ' + date_list[-1] + ':00'

In [74]:
emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)

In [75]:
def parse_smartlab_news():
    
        ress = []
        n = rq.get('https://smart-lab.ru/forum/news/SBER')
        news_n = re.findall('/forum/news/SBER/page\w+', n.text)
        news_n = int(re.findall('[0-9.]+', news_n[-1])[0])

        for url in range(1, 3):

                business_url = 'https://smart-lab.ru/forum/news/SBER/page' + str(url)
                rn = rq.get(business_url)
                news_urls = re.findall('/blog/\w+.php', rn.text)
                news_urls = list(map(lambda x: x.split('/')[-1], news_urls))
                news_urls = list(map(lambda x: 'https://smart-lab.ru/blog/news/' + x, news_urls))

                for u in news_urls:
                                        res = {}
                                        nv = rq.get(u).content
                                        s = bs(nv, 'html.parser')


                                        res['time'] = s.find_all(class_="date")
                                        res['time'] = re.findall('\d+\s\w+\s\d+, \d+:\d+', str(res['time']))[0].replace(",", "")
                                        res['time'] = get_date(res['time'])

                                        res['url']= u
                                        res['site'] = 'smart-lab.ru'

                                        res['title'] = s.title.text
                                        
                                        res['text'] = s.find_all('div', class_='content')[1].text
                                        res['text'] = re.sub(re.compile('[\n\r\n]'),'', res['text'])

                                        ress.append(res)   




        return ress

In [76]:
res2 = parse_smartlab_news()

In [77]:
df0 = pd.json_normalize(res2)
df0['text'] = df0['text'].replace(re.compile(emoji_pattern), ' ', regex=True)
df0['title'] = df0['title'].replace(re.compile(emoji_pattern), ' ', regex=True)
# df0['text'] = df0['text'].apply(lambda x: x.lower())
df0.head()

,time,url,site,title,text
0,2023-10-14 16:56:00,https://smart-lab.ru/blog/news/950304.php,smart-lab.ru,В Петербурге резко упала выдача потребительски...,В сентябре этого года жители Петербурга получи...
1,2023-10-14 09:22:00,https://smart-lab.ru/blog/news/950241.php,smart-lab.ru,Максимальная процентная ставка по рублевым вкл...,Результаты мониторинга в октябре 2023 года мак...
2,2023-10-12 17:48:00,https://smart-lab.ru/blog/news/949765.php,smart-lab.ru,Группа Позитив в сотрудничестве с рядом россий...,ПАО «Группа Позитив» (головная компания группы...
3,2023-10-12 13:34:00,https://smart-lab.ru/blog/news/949653.php,smart-lab.ru,Греф оценил фундаментальный курс российской ва...,Греф оценил фундаментальный курс российской ва...
4,2023-10-12 13:31:00,https://smart-lab.ru/blog/news/949652.php,smart-lab.ru,С 1 октября мы видим существенное замедление к...,С 1 октября мы видим существенное замедление к...

In [78]:
mm = df0.loc[df0['time'].map(lambda x: x[0:10]) == str(date.today())]
mm

,time,url,site,title,text
0,2023-10-14 16:56:00,https://smart-lab.ru/blog/news/950304.php,smart-lab.ru,В Петербурге резко упала выдача потребительски...,В сентябре этого года жители Петербурга получи...
1,2023-10-14 09:22:00,https://smart-lab.ru/blog/news/950241.php,smart-lab.ru,Максимальная процентная ставка по рублевым вкл...,Результаты мониторинга в октябре 2023 года мак...

In [79]:
result22 = pd.concat([cc[['time','text']], vv[['time','text']], mm[['time','text']]], axis=0, ignore_index=True)
result22.sort_values(by = 'time',ascending=True)
result22['time'] = result22['time'].map(lambda x: x[0:10])# == str(date.today())]
result22 = result22.loc[result22['time'].map(lambda x: x[0:10]) == str(date.today())].reset_index(drop=True)
result22 = result22.T
result22 = result22.iloc[[1]]
result22.index=[str(date.today())]
result22

,0,1
2023-10-14,В сентябре этого года жители Петербурга получи...,Результаты мониторинга в октябре 2023 года мак...

In [80]:
result22.shape[1]

2

In [81]:
result22.iloc[0,0:result22.shape[1]]

0    В сентябре этого года жители Петербурга получи...
1    Результаты мониторинга в октябре 2023 года мак...
Name: 2023-10-14, dtype: object

In [82]:
headline=[]
for row in range(0,result22.shape[0]):
    headline.append(" ".join(str(x) for x in result22.iloc[row,0:result22.shape[1]]))
# headline = ' '.join(headline)

In [83]:
headline

['В сентябре этого года жители Петербурга получили значительно меньше потребительских кредитов, чем в августе.\xa0Некоторые кредитные организации считают, что отрицательная динамика сохранится до конца года, другие\xa0— прогнозируют восстановление рынка потребительского кредитования в последние месяцы года.По словам пресс-секретаря банка «Открытие» по СЗФО Ивана Макарова, объёмы выдачи кредитов наличными в Петербурге снизились в сентябре по сравнению с августом на 24%; а по сравнению сентябрем прошлого года, когда рынок активно восстанавливался,\xa0— на 28%.Руководитель по развитию продаж департамента розничного бизнеса Санкт-Петербургского филиала ПСБ Иван Ходак добавляет: «Замедление потребительского кредитования в сентябре связано с высокой базой предыдущего месяца и с тем, что заемщики спешили совершить покупки по старым ставкам».В пресс-службе Северо-Западного банка ПАО «Сбербанк» изменение в выдаче потребкредитов\xa0зафиксировали, но\xa0назвали его несущественным. По сравнению с августом, жители Петербурга взяли на 5% меньше кредитов м/м.  Подробнее на РБК:www.rbc.ru/spb_sz/13/10/2023/652957ac9a794715ff030381?from=from_main_12 Результаты мониторинга в\xa0октябре 2023 года максимальных процентных ставок по\xa0вкладам1\xa0в\xa0российских рублях десяти кредитных организаций2, привлекающих наибольший объём депозитов физических\xa0лиц:I\xa0декада октября\xa0— 10,18%.cbr.ru/press/pr/?file=638328199109176113BANK_SECTOR.htm']

In [ ]:
h = '''The Russian stock market opened on Monday with an increase in ruble prices for blue chips against the backdrop of rising oil and stock futures in the United States after the issue of financing the government was resolved, which made it possible to avoid a shutdown; the RTS and Moscow Exchange indices added 0.1-0.5% per minute of trading, while The growth leaders are the shares of Surgutneftegaz against the background of the weakening ruble. By 10:01, the Moscow Exchange index amounted to 3148.87 points (+0.5%), the RTS index - 1008.49 points (+0.1%); prices of most blue chips on the Moscow Exchange rose by 4.2%. A dollar costs 98.36 rubles (+0.39 rubles). The shares of Surgutneftegaz (+3.3% and +4.2% preferred shares), ALROSA (+1.5%), Gazprom Neft (+1.4%), Inter RAO ( +1.2%), Tatneft (+1.1%), LUKOIL (+0.6%), Rosneft (+0.6%), TCS Group receipts (+0.6%) , securities of Aeroflot (+0.5%), VTB (+0.5%), MMK (+0.5%), Moscow Exchange (+0.3%), MTS (+ 0.3%), RusHydro (+0.3%), Magnit (+0.2%), PJSC Polyus (+0.2%), Gazprom (+0.1%) , NLMK (+0.1%), Severstal (+0.1%), NOVATEK (+0.1%). Shares of Polymetal (-0.4%) and AFK Sistema (-0.2%) fell in price. As BCS World of Investments analysts note, the beginning of October on the Russian market will probably be neutral. However, in the short term, the market maintains some upward momentum to complete the rebound. In the medium term, the Russian market is expected to resume an upward trend towards the upper boundary of a wide sideways formation. On the US market, the start of trading is likely to be positive, as a shutdown was avoided over the weekend - the American authorities came to a temporary agreement for 45 days, which prevented a government shutdown. According to the head of investment consulting at Alor Broker, Alexey Antonov, the confident depreciation of the ruble that began on Friday continued on Monday morning, the dollar-ruble pair is testing the resistance of 98.5 rubles/$1. “We see a high probability of this barrier being broken and the exchange rate going just above 100 rubles/$1, where we can expect decisive action from the monetary authorities to curb the growth of the dollar. The weak ruble will support shares of exporters, among which the oil industry looks very promising. We also expect a resumption in the near future "The growth of oil, which should be helped by the traditional autumn hurricane season in the States. The $95 per barrel mark, which was previously resistance, has already been traded and will now not become a strong obstacle to the movement of Brent oil to $100," the expert believes. In the oil sector, the most interesting are the preferred shares of Surgutneftegaz and the shares of Gazprom Neft, which were among the top three growth leaders on Friday. However, with the first paper you should exercise medium-term caution. Firstly, it seems that the company converted part of the currency box into ruble assets, so the fall in the exchange rate of the national currency will not affect profits as much as it could, Antonov believes. Secondly, it is unlikely that the monetary authorities of the Russian Federation will let the dollar exchange rate go far beyond a hundred, and the influx of dollars to the Moscow Exchange should still increase due to rising oil prices, he believes. Gazprom Neft broke through the sideways trend on Friday, which was one of the reasons for its powerful takeoff with the renewal of its historical maximum. But the paper is interesting from the point of view of expectations from it of increased dividends, the lion's share of which will go to Gazprom. Sberbank shares on Friday rose by more than 1%, largely due to the words of the head of the bank, German Gref, that Sberbank is thinking about buying back its shares from non-residents. However, Sber, according to Antonov, will not receive permission from the authorities for such an operation in the near future. According to rough estimates, Sberbank will need to allocate at least 0.5 trillion rubles for the buyout. Such money of the day is not a problem for him - it is half of the net profit earned since the beginning of the year. But the entry of such an amount into the delicate Russian foreign exchange market, even evenly over a couple of months, will collapse the ruble exchange rate, Antonov believes. In general, we can hardly expect strong movements on the Russian stock market in the coming days. Most likely, there will be periodic rises in lagging securities and rapid fixation of speculative profits on them, says a representative of Alor Broker. In the US on Friday, stock indices changed by 0.1-0.5%: the Dow Jones (-0.5%) and S&amp;P 500 (-0.3%) fell, the Nasdaq Composite grew (+0.1%) . At the end of the week, the Dow Jones fell by 1.3%, the S&amp;P 500 - by 0.7%, and the Nasdaq added 0.1%. All three indicators ended September and the third quarter lower, with the S&amp;P 500's decline (-4.9%) last month the largest since December 2022, FactSet data shows. On Friday, traders were assessing the US spending and income report for August, which includes the dynamics of a key inflation indicator (PCE index) tracked by the Federal Reserve System (FRS). Both American spending and income rose 0.4% in August compared with the previous month, the US Commerce Department reported. The PCE index strengthened by 3.5% year on year, as expected. But the July growth rate of the indicator was revised upward - to 3.4% from 3'''

In [ ]:
# !pip3 install vaderSentiment
# !pip3 install textblob

In [ ]:
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
# import nltk
# nltk.download('vader_lexicon')
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
def get_subjectivity(text):
    return TextBlob(text).sentiment.subjectivity

In [ ]:
def get_polarity(text):
    return TextBlob(text).sentiment.polarity

In [ ]:
def getSIA(text):
    sia = SentimentIntensityAnalyzer()
    sentiment= sia.polarity_scores(text)
    return sentiment

In [ ]:
result22['Combined_News'] = headline

In [ ]:
result22['Subjectivity'] = result22['Combined_News'].apply(get_subjectivity)
result22['Polarity'] = result22['Combined_News'].apply(get_polarity)

In [ ]:
# get_subjectivity(headline), get_polarity(headline), getSIA(headline)

In [ ]:
get_subjectivity(h), get_polarity(h), getSIA(h)

In [ ]:
result22

In [ ]:
result22.shape[0]

In [ ]:
compound=[]
neg=[]
pos=[]
neu=[]
SIA=0

In [ ]:
for i in range (0, result22.shape[0]):
    SIA= getSIA(result22['Combined_News'][i])
    compound.append(SIA['compound'])
    neg.append(SIA['neg'])
    pos.append(SIA['pos'])
    neu.append(SIA['neu'])

In [ ]:
result22['compound']= compound
result22['neg']= neg
result22['pos']=pos
result22['neu']=neu

In [ ]:
result22